body {
  margin: 0;
}

.background {
  background: greenyellow;
  height: 100vh;
  width: 100vw;
  padding: 0;
  display: grid;
  place-items: center;
  font-size: 1em;
  font-family: Viaoda Libre;
}

.background div {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.background span {
  font-size: 5em;
}
